.homeContainer{
    margin-left: 7rem;
    margin-right: 7rem;
}
.post{
    background-color: rgb(244, 207, 255);
    margin: 2rem 0;
    padding: 1rem 2rem;
}
.postLink{
    text-decoration: none;
}
.postTitle{
    color: rgb(102, 11, 188);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}